name: Lint & Test

on:
  push: 
    branches:
      - main
  pull_request:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint-and-test:
    name: Lint & Test
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: nix develop --command bash {0}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install nix
        uses: nixbuild/nix-quick-install-action@v25

      - name: Get pnpm store directory
        id: pnpm-cache
        run: echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Lint
      #   run: pnpm exec turbo lint
      #   env:
      #     TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

      - name: Typecheck
        run: pnpm exec turbo typecheck
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

      - name: Build
        run: pnpm exec turbo build
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

      - name: Test
        run: pnpm exec turbo test
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

      - name: Check format
        run: pnpm format:check
        env:
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}


